#paginacompleta{
	position:absolute;
}
body {
    color: black;
    background: url("/imagenes/bg.gif");
    background-position: center;
    background-repeat: repeat-y;
    font-family: Tahoma;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 980px;
}