body {

	background-color: #8a8a8a;
	margin: 0;
}


#pagina_entera {
	
	background-color: white;
	margin: auto;
    text-align: left;
    width: 980px;
    height: auto;
    overflow: hidden;
  
    
}


#div_menu_izq{
	
	background-color: white;
	float:left; 
	width:240px; 
	
		
}


#div_logo{
	
	
	width:980px; /*anchura del fono del menu derecho*/
	height:240px; /*altura del fondo del menu derecho*/	
	
}	


#div_login{
	
	float:right;
	width:200px; /*anchura del fono del menu derecho*/
	height:240px; /*altura del fondo del menu derecho*/	
}	

#div_logeo{
	
	float:right;
	width:200px; /*anchura del fono del menu derecho*/
	height:240px; /*altura del fondo del menu derecho*/	
	overflow-y:auto;
}



#centro{
	clear: both
	background-color: white;
	float:right; 
	width:740px; /*anchura del fono del menu derecho*/
	height:auto; /*altura del fondo del menu derecho*/	
	
}

#centro_izq{
	
	background-color: white;
	float:left;
	width:370px; /*anchura del fono del menu derecho*/
	height:auto; /*altura del fondo del menu derecho*/	
	
}

#centro_der{
	
	background-color: white;
	float:right;
	width:370px; /*anchura del fono del menu derecho*/
	height:auto; /*altura del fondo del menu derecho*/	
	
}

#ultimas_aplicaciones{
	background-color: white;
	width:370px;
	position: absolute; 
	text-align:center;
	
}

#lista_aplicaciones{
	
	background-color: white;
	width:auto;
	position: absolute; 
	text-align:center;
	
}

#ultimos_juegos{
	background-color: white;
	width:370px;
	position: absolute; 
	text-align:center;
	
}


#lista_juegos{
	
	background-color: white;
	width:auto;
	position: absolute; 
	text-align:center;
	
}