#paginacompleta{
	position:absolute;
}

body {
	background-color:white;
}

#container {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 980px;
}


#div_menu_izq{
	float:left; 
	width:240px; 
	height:680px;
}


#div_login{
	
	float:right;
	width:200px; /*anchura del fono del menu derecho*/
	height:250px; /*altura del fondo del menu derecho*/	
}	

#div_logeo{
	
	float:right;
	width:200px; /*anchura del fono del menu derecho*/
	height:250px; /*altura del fondo del menu derecho*/	
	margin-right: 26%;
	margin-left: 58%;  /* he puesto los margenes para colocarlo a una distacioa respecto al navegador pro la izquerda y derecha*/
	margin-top:-16.5%;
	position: absolute; 
	overflow-y:auto; /* esto lo usamos para poner la barra de desplazamiento ponemos y para que sea solo vertical k es lo k nos interesa*/
	height:35%;   /* tenemos k definir tambien un height para que se pueda mover la barra de desplazamiento */	
}

#fieldset1{
	color:#54fa10;
}


#centro{
	
}

#ultimas_aplicaciones{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	float:none ; /* he puesto none para que el elemento permita cosas flotantes a sus ladoas yeehhhaaa*/
	width:26%;
	position: absolute; 
	
	margin-right: 26%;
	margin-left: 18%;  /* he puesto los margenes para colocarlo a una distacioa respecto al navegador pro la izquerda y derecha*/
	
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
    border-left: 1px solid #040293;
    border-top: 1px solid #040293;
}

#lista_aplicaciones{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	float:none; /* he puesto none para que el elemento permita cosas flotantes a sus ladoas yeehhhaaa*/
	width:26%;
	position: absolute; 
	
	margin-right: 26%;
	margin-left: 26%;  /* he puesto los margenes para colocarlo a una distacioa respecto al navegador pro la izquerda y derecha*/
	
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
   border-left: 1px solid #040293;
   border-top: 1px solid #040293;
}

#ultimos_juegos{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	float:none; /* he puesto none para que el elemento permita cosas flotantes a sus ladoas yeehhhaaa*/
	width:26%;
	position: absolute; 
	
	margin-right: 26%;
	margin-left: 46%;  /* he puesto los margenes para colocarlo a una distacioa respecto al navegador pro la izquerda y derecha*/
	
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
   border-left: 1px solid #040293;
   border-top: 1px solid #040293;
}


#lista_juegos{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	float:none; /* he puesto none para que el elemento permita cosas flotantes a sus ladoas yeehhhaaa*/
	width:26%;
	position: absolute; 
	
	margin-right: 26%;
	margin-left: 26%;  /* he puesto los margenes para colocarlo a una distacioa respecto al navegador pro la izquerda y derecha*/
	
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
   border-left: 1px solid #040293;
   border-top: 1px solid #040293;
}