body {
	margin:0;
	
}


#pagina_entera {
	margin: auto;
    text-align: left;
    width: 980px;
}


#div_menu_izq{
	float:left; 
	width:240px; 
	height:auto;
			
}

#div_logo{
	
	float:none;
	width:980px; /*anchura del fono del menu derecho*/
	height:240px; /*altura del fondo del menu derecho*/	
	
}	


#div_login{
	
	float:right;
	width:200px; /*anchura del fono del menu derecho*/
	height:240px; /*altura del fondo del menu derecho*/	
}	

#div_logeo{
	
	float:right;
	width:200px; /*anchura del fono del menu derecho*/
	height:240px; /*altura del fondo del menu derecho*/	
	overflow-y:auto;
}



#centro{
	float:right;
	width:740px; /*anchura del fono del menu derecho*/
	height:auto; /*altura del fondo del menu derecho*/	
	
}

#centro_izq{
	float:left;
	width:370px; /*anchura del fono del menu derecho*/
	height:auto; /*altura del fondo del menu derecho*/	
	
}

#centro_der{
	float:right;
	width:370px; /*anchura del fono del menu derecho*/
	height:auto; /*altura del fondo del menu derecho*/	
	
}

#ultimas_aplicaciones{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	width:370px;
	position: absolute; 
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
    border-left: 1px solid #040293;
    border-top: 1px solid #040293;
}

#lista_aplicaciones{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	width:auto;
	position: absolute; 
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
    border-left: 1px solid #040293;
    border-top: 1px solid #040293;
}

#ultimos_juegos{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	width:370px;
	position: absolute; 
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
    border-left: 1px solid #040293;
    border-top: 1px solid #040293;
}


#lista_juegos{
	background-color:white; /*gris claro donde van los 5 eventos*/
	color:black;  /*los puntos de comienzo de cada evento*/
	width:auto;
	position: absolute; 
	text-align:center;
	border-bottom: 1px solid #040293; /* los bordes*/
    border-left: 1px solid #040293;
    border-top: 1px solid #040293;
}